@import "../../vars";
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &.blur {
        backdrop-filter: blur(8px);
        filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
        background-color: rgba($color: #fff, $alpha: 0.7);
        nav {
            a:not(.active):not(:hover) {
                background-color: rgba($color: #fff, $alpha: 0.5);
            }
        }
    }
    nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
    }

    @media screen and (max-width: #{$desktop-width}px) {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 0;
        padding: 8px;
        nav {
            gap: 8px;
            flex-grow: 1;
        }
        .navbar-link {
            font-size: 1.17em;
        }
    }
}
